<div class="s-full js-hide-cart"></div>

<div class="header-cart flex-col-l p-l-65 p-r-25">
  <div class="header-cart-title flex-w flex-sb-m p-b-8">
    <span class="mtext-103 cl2">
      Đăng Nhập & Đăng Kí
    </span>

    <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
      <i class="zmdi zmdi-close"></i>
    </div>
  </div>
  <!-- <div class="header-cart-title flex-w flex-sb-m p-b-8" style="text-align: center !important;width: 92%;margin: 0 auto;">
    <span class="mtext-103 cl2" style=" width: 80%; margin: 0 auto; ">
      Đăng Nhập & Đăng Ký
    </span>


  </div> -->

  <div class="header-cart-content flex-w js-pscroll">
    <ul class="header-cart-wrapitem w-full">
      <li class="header-cart-item flex-w flex-t m-b-12">
        <div class="bor8 m-b-20 how-pos4-parent" style="width: 100%;">
          <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="username" placeholder="Email hoặc tên đăng nhập">
        </div>
      </li>

      <li class="header-cart-item flex-w flex-t m-b-12">
        <div class="bor8 m-b-20 how-pos4-parent" style="width: 100%;">
          <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="password" placeholder="Mật khẩu">
        </div>
      </li>
      <li class="header-cart-item flex-w flex-t m-b-12">
        Quên mật khẩu
      </li>
      <li class="header-cart-item flex-w flex-t m-b-12">
        <div class="form-check-inline">
          <label class="form-check-label" for="check1" style="display: flex">
            <input type="checkbox" class="form-check-input" id="check1" name="vehicle1" value="something" checked>  Ghi
            nhớ đăng nhập
          </label>
        </div>
      </li>
      <li class="header-cart-item flex-w flex-t m-b-12">
        <a href="javascript:;" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
          Đăng nhập
        </a>

        <a href="javascript:;" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10 js-hide-cart">
          Đăng kí
        </a>
      </li>

      <li class="header-cart-item flex-w flex-t m-b-12">
        Đăng nhập thông qua :
      </li>
      <li class="header-cart-item flex-w flex-t m-b-12">
        <!--Facebook-->
        <button type="button" style="margin: 0 auto" class="btn btn-fb bor13 "><i class="fa fa-facebook pr-1"></i>
          Facebook</button>

        <!--Google +-->
        <button type="button" style="margin: 0 auto" class="btn btn-gplus bor13 "><i class="fa fa-google-plus pr-1"></i>
          Google +</button>
      </li>

    </ul>

    <div class="w-full">


    </div>
  </div>
</div>