<hr class="wide">
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Đăng Ký
                    </h3>
                    <form autocomplete="off" (ngSubmit)="signup(f)" #f="ngForm" id="frm-signup" action="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="display_name" class="requi">
                                        <span>Tên hiển thị</span>
                                        <div style="float:right;" *ngIf="display_name.dirty || display_name.touched">
                                            <i *ngIf="display_name.invalid" class="fa fa-close" style="color: red;"></i>
                                            <i *ngIf="display_name.valid" class="fa fa-check" style="color: #717fe0;"></i>
                                        </div>
                                    </label>
                                    <input type="text" [(ngModel)]="model.display_name" #display_name="ngModel" name="display_name"
                                        class="form-control" id="display_name" placeholder="Tối đa 32 ký tự" required
                                        minlength="1" maxlength="32">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="requi">
                                        <span>Email</span>
                                        <div style="float:right;" *ngIf="email.dirty || email.touched">
                                            <i *ngIf="email.invalid" class="fa fa-close" style="color: red;"></i>
                                            <i *ngIf="email.valid" class="fa fa-check" style="color: #717fe0;"></i>
                                        </div>
                                    </label>
                                    <input type="email" [(ngModel)]="model.email" #email="ngModel" name="email" class="form-control"
                                        id="email" placeholder="email xác thực tài khoản" required pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="password" class="requi">
                                        <span>Mật khẩu</span>
                                        <div style="float:right;" *ngIf="password.dirty || password.touched">
                                            <i *ngIf="password.invalid" class="fa fa-close" style="color: red;"></i>
                                            <i *ngIf="password.valid" class="fa fa-check" style="color: #717fe0;"></i>
                                        </div>
                                    </label>
                                    <input type="password" [(ngModel)]="model.password" #password="ngModel" name="password"
                                        class="form-control" id="password" placeholder="Từ 6 đến 16 ký tự" required
                                        minlength="6" maxlength="16" pattern="^[\w_\.!@#$%^&*()]{6,16}$">
                                </div>
                                <div class="form-group">
                                    <label for="passwordConfirm" class="requi">
                                        <span>Xác nhận mật khẩu</span>
                                        <div style="float:right;" *ngIf="passwordConfirm.dirty || passwordConfirm.touched">
                                            <i *ngIf="passwordConfirm.invalid || model.passwordConfirm != model.password"
                                                class="fa fa-close" style="color: red;"></i>
                                            <i *ngIf="passwordConfirm.valid && model.passwordConfirm === model.password"
                                                class="fa fa-check" style="color: #717fe0;"></i>
                                        </div>
                                    </label>
                                    <input type="password" [(ngModel)]="model.passwordConfirm" #passwordConfirm="ngModel"
                                        name="passwordConfirm" class="form-control" id="passwordConfirm" placeholder="Nhập lại mật khẩu của bạn"
                                        required minlength="6" maxlength="16">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="address">
                                        <span>Địa chỉ</span>

                                    </label>
                                    <input type="text" [(ngModel)]="model.address" #address="ngModel" name="address"
                                        class="form-control" id="address" placeholder="Tối đa 100 ký tự" maxlength="100">
                                </div>
                                <div class="form-group">
                                    <label for="birthday">
                                        <span>Ngày sinh</span>

                                    </label>
                                    <input type="date" [(ngModel)]="model.birthday" #birthday="ngModel" name="birthday"
                                        class="form-control" id="birthday">
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="phone" class="requi">
                                        <span>Số điện thoại</span>
                                        <div style="float:right;" *ngIf="phone.dirty || phone.touched">
                                            <i *ngIf="phone.invalid" class="fa fa-close" style="color: red;"></i>
                                            <i *ngIf="phone.valid" class="fa fa-check" style="color: #717fe0;"></i>
                                        </div>
                                    </label>
                                    <input type="text" [(ngModel)]="model.phone" #phone="ngModel" name="phone" class="form-control"
                                        id="phone" placeholder="Nhập đúng định dạng số điện thoại" required minlength="10"
                                        maxlength="12" pattern="^(0[3|5|7|8|9])+([0-9]{8})|^(09|01[2|6|8|9])+([0-9]{8})$">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <span *ngIf="message" class="cl2 error">
                                    {{message}}
                                </span>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" href="javascript:;" style="width: 50%; float: right;" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                                        Đăng ký <span *ngIf="load" class="cl2">
                                            <i class="fa fa-spinner fa-pulse  fa-fw"></i>
                                        </span>
                                    </button>

                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="assets/images/about-01.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>